
@media (min-width: 1024px) and (max-width: 1025px){
    .col-md-4 {
        width: 25% !important;
    }

    .col-lg-2 {
        width: 20% !important;
    }

    .header__movie-list  {
        padding-right: 0;
    }
}

@media (max-width: 1024px) {
    .header__movie-wrap {
        padding: 120px 50px 60px;
    }

    .header__movie-list  {
        padding-right: 0;
    }
}

@media (min-width: 768px) and (max-width : 1023px){
    .header__movie-wrap {
        padding: 160px 0px 100px 30px;
    }
    .content__item {
        display: block !important;
    }
    .watch__movie {
        padding: 20px 60px;
        width: 100%;
    }

    .rate__box {
        margin: 20px 0 16px 0;
        width: 100%;
    }

    .header__movie-list  {
        padding-right: 0;
    }
}

@media (max-width: 768px) and (min-width : 681px){
    .header__movie-list  {
        padding-right: 0;
    }
}

@media (max-width: 680px) {
    .header__movie-wrap {
        display: block;
        padding: 40px 18px 0;
    }

    .header__movie-list  {
        padding-right: 0;
    }

    .col-lg-8 {
        width: 100%;
    }

    .col-lg-4 {
        padding: 0;
    }

    .content__item {
        display: block !important;
    }

    .watch__movie {
        padding: 20px 60px;
        width: 100%;
    }

    .rate__box {
        margin: 20px 0 16px 0;
        width: 100%;
    }

    .movie__info {
        margin: 40px 0 100px;
        
    }

    .suggest__movie-title {
        padding: 60px 18px;
    }

    .suggest__movie-title h2 {
        font-size: 4rem;
    }

    .comment__wrap {
        padding: 100px 18px 60px;
    }

    .comments .comments-list li .comment p {
        line-height: 1.2;
    }

    .form-group textarea{
        width: 100%;
    }

}

@media (max-width: 480px){
.row {
    padding: 0 15px !important;
}
}